<body>
 <p id="notice"></p>

 <h1>Books</h1>
 
 <% @books.each do |book| %>
  <table>
   <thead>
    <tr>
     <th>Title</th>
     <th>Body</th>
     <th colspan="3"></th>
    </tr>
   </thead>

   <tbody>
    <!-- １行目始まり -->
    <tr>
     <td><%= @book.title %></td>
     <td><%= @book.body %></td>
     
     <%= link_to "Show", book_path(book.id) %>

     <p>Edit</p>

     <p>Destroy</p>
    </tr>
   <!-- １行目終わり -->
   
   </tbody>
  </table>
 <% end %>

 <!-- 新規登録機能の作成 -->
 <h2>New book</h2>

 <!-- form_with部分 -->
 <%= form_with model: @book, url: '/books', method: :post do |f| %>

  <!-- タイトル -->
  <div class="field">
   <lavel for="book_title">Title</lavel>
   <%= f.text_field :title %>
  </div>

  <!-- 本文 -->
  <div class="field">
   <lavel for="book_body">Body</lavel>
   <%= f.text_area :body %>
  </div>

  <!-- 投稿 -->
  <div class="actions">
   <%= f.submit 'Create Book' %>
  </div>
 <% end %>
</body>