<body>
 <p id="notice"></p>
 <% @books.each do |book| %>
 
 <h1>Books</h1>
 <table>
  <thead>
   <tr>
    <th>Title</th>
    <th>Body</th>
    <th colspan="3"></th>
   </tr>
  </thead>

  <tbody>
   <!-- １行目始まり -->
   <tr>
    <td>リーダブルコード</td>
    <td>より良いコードを書くためのシンプルで実践的なテクニック</td>

    <td>
     <%= link_to "Show", book_path(book.id) %>
    </td>

    <td>
     Edit
    </td>

    <td>
     Destroy
    </td>
   </tr>
   <!-- １行目終わり -->

   <!-- ２行目始まり -->
   <tr>
    <td>トラブル知らずのシステム設計</td>
    <td>システム設計の要点を図解で説明してくれます</td>

    <td>
     <%= link_to "Show", book_path(book.id) %>
    </td>

    <td>
     Edit
    </td>

    <td>
     Destroy
    </td>
   </tr>
   <!-- ２行目終わり -->

   <!-- ３行目始まり -->
   <tr>
    <td>たのしいRuby</td>
    <td>Rubyの入門におすすめです</td>

    <td>
     <%= link_to "Show", book_path(book.id) %>
    </td>

    <td>
     Edit
    </td>

    <td>
     Destroy
    </td>
   </tr>
   <!-- ３行目終わり -->

   <!-- ４行目始まり -->
   <tr>
    <td>入門Git</td>
    <td>gitについての基本操作から内部構造まで解説してくれます</td>

    <td>
     <%= link_to "Show", book_path(book.id) %>
    </td>

    <td>
     Edit
    </td>

    <td>
     Destroy
    </td>
   </tr>
   <!-- ４行目終わり -->

   <!-- ５行目始まり -->
   <tr>
    <td>アルゴリズム図鑑</td>
    <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>

    <td>
     <%= link_to "Show", book_path(book.id) %>
    </td>

    <td>
     Edit
    </td>

    <td>
     Destroy
    </td>
   </tr>
　 <!-- ５行目終わり -->

　 <!-- ６行目始まり -->
   <tr>
    <td>達人プログラマー</td>
    <td>プログラマ入門者は必読！</td>

    <td>
     <%= link_to "Show", book_path(book.id) %>
    </td>

    <td>
     Edit
    </td>

    <td>
     Destroy
    </td>
   </tr>
　 <!-- ６行目終わり -->

　 <!-- ７行目始まり -->
   <tr>
    <td>データベース実践入門</td>
    <td>効率的なSQL文を教えてくれます</td>

    <td>
     <%= link_to "Show", book_path(book.id) %>
    </td>

    <td>
     Edit
    </td>

    <td>
     Destroy
    </td>
   </tr>
　 <!-- ７行目終わり -->

　 <!-- ８行目始まり -->
   <tr>
    <td>たのしいRuby</td>
    <td>入門編</td>

    <td>
     <%= link_to "Show", book_path(book.id) %>
    </td>

    <td>
     Edit
    </td>

    <td>
     Destroy
    </td>
   </tr>
　 <!-- ８行目終わり -->

  </tbody>
 </table>

<!-- 新規登録機能の作成 -->
 <h2>New book</h2>

 <!-- form_with部分 -->
 <%= form_with model: @book, url: '/books', method: :post do |f| %>

  <!-- タイトル -->
  <div class="field">
   <lavel for="book_title">Title</lavel>
   <%= f.text_field :title %>
  </div>

  <!-- 本文 -->
  <div class="field">
   <lavel for="book_body">Body</lavel>
   <%= f.text_area :body %>
  </div>

  <!-- 投稿 -->
  <div class="actions">
   <%= f.submit 'Create Book' %>
  </div>
 <% end %>
</body>