<body>

 <!-- フラッシュメッセージ -->
  <p id="notice">
   <%= flash[:notice] %>
  </p>

 <!-- タイトル -->
 <p>
  <strong>Title:</strong>
  <%= @book.title %>
 </p>

 <!-- 本文 -->
 <p>
  <strong>Body:</strong>
  <%= @book.body %>
 </p>

 <%= link_to "Edit", edit_book_path(@book.id), class: 'edit_' %>
 |
 <%= link_to "Back", "/books", class: 'back' %>

</body>